*.DS_Store
*.pdf
*.pth
*.zip
!llama_acc.pdf
# !paper/acl2023.pdf
# *.mp4

thesis
paper
NLP4CC
preprocess.ipynb
eval_BLIP2.ipynb
finetune_BERTViT.ipynb
finetune_ViT+BERT.ipynb

*blx.bib
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.synctex.gz
*.snm
*.toc
*.bcf
*.fdb_latexmk
*.fls
*.brf
